# Process data

## Import libraries

In [2]:
import finalproject.utils.paths as path
import janitor
import pandas as pd

## Read data

In [3]:
input_covid_file = path.data_raw_dir("time_series_covid19_confirmed_global.csv")

In [4]:
covid_df = pd.read_csv(input_covid_file)
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Columns: 1096 entries, Province/State to 1/17/23
dtypes: float64(2), int64(1092), object(2)
memory usage: 2.4+ MB

In [5]:
covid_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/8/23,1/9/23,1/10/23,1/11/23,1/12/23,1/13/23,1/14/23,1/15/23,1/16/23,1/17/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,207819,207841,207866,207900,207900,207900,207900,207900,207993,208009
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,333947,333948,333995,333995,334018,334018,334029,334037,334037,334064
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271254,271255,271262,271268,271277,271286,271287,271287,271287,271292
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47781,47781,47781,47781,47781,47781,47781,47781,47781,47781
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105095,105095,105095,105095,105095,105095,105095,105095,105095,105095

In [6]:
processed_df = (
    covid_df
    .select_columns(["Country/Region", "*/*/*"])
    .pivot_longer(
        index="Country/Region",
        names_to="date"
    )
    .transform_column("date", pd.to_datetime)
    .clean_names()
)

processed_df.head()

  country_region       date  value
0    Afghanistan 2020-01-22      0
1        Albania 2020-01-22      0
2        Algeria 2020-01-22      0
3        Andorra 2020-01-22      0
4         Angola 2020-01-22      0

## Save output

In [7]:
output_covid_file = path.data_processed_dir("time_series_covid19_confirmed_global_processed.csv")

In [8]:
processed_df.to_csv(output_covid_file, index=False)